<h1><%=@game.name%></h1>

<h2>Played By: </h2>
    
    <% @game.players.each do |player|%>
    <div>
        <h5><%=player.gamerTag%></h5>
        <p><%=player.first_name%></p>
        
    </div>
    
    
    <%end%>
