<a href="/students/new">New Student</a>

<% @students.each do |student| %>
    <div>
        <%= student.first_name%> <%=student.last_name %>
    </div>
    <a href="/students/edit?id=<%= student.id %>">Edit</a>
    <!--finished delete method lesson did not -->
    <a href="/students/delete?id=<%=student.id %>">Delete</a>

<%end%>
